extends layout.pug 

block scripts
  script(src=`/spellData.js?${mtime.spellData}`)
  script(src=`/spellDataMain.js?${mtime.spellDataMain}`)
  script(src=`/spellDataApoth.js?${mtime.spellDataApoth}`)
  script(src=`/wandSprites.js?${mtime.wandSprites}`)
  script(src=`/icons.js?${mtime.icons}`)
  script(src=`/itemData.js?${mtime.itemData}`)
  script(src=`/apothIcons.js?${mtime.apothIcons}`)
  //- vue dev mode
  //- script(src="https://cdn.jsdelivr.net/npm/vue@2.6.1/dist/vue.js")
  //- vue production mode
  script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12")
  script(src="https://unpkg.com/@popperjs/core@2.5.4/dist/umd/popper.min.js")

block content
  script.
    const streamerName = "#{streamer}"
    const currentVersion = "#{currentVersion}"
    const streamerModVersion = !{JSON.stringify(modVersion)}
    const streamerModFeatures = !{JSON.stringify(modFeatures)}
    const streamerWands = !{JSON.stringify(wands)}
    const streamerInventory = !{JSON.stringify(inventory)}
    const streamerItems = !{JSON.stringify(items)}
    const streamerProgress = !{JSON.stringify(progress)}
    const streamerRunInfo = !{JSON.stringify(runInfo)}
    const streamerApothInfo =  !{JSON.stringify(apothInfo)}
    const streamerPlayerInfo =  !{JSON.stringify(playerInfo)}
  div.wand-display
    div#app
    //- moved to within main.js
    //- div.disclaimer
      //- p Disclaimer: Spell tooltips are not accurate at the moment.

block footer
  div.download
    a(href="/" tabindex="1" target="_blank") Add to your stream
  script(src=`/main.js?${mtime.main}`)